*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 1.2vw;
}
body{
    overflow-x: hidden;
}
nav{
    display: flex;
    height: 7.5rem;
    font-size: 3.75rem;
    color: white;
    justify-content: center;
    align-items: center;
}
.dibujo1{
    position: absolute;
    background-color: #015A76;
    height: 8.125rem;
    width: 150%;
    z-index: -1;
    margin-top: 0.313rem;
    rotate: -3deg;
}
.dibujo2{
    position: absolute;
    background-color: black;
    height: 8.75rem;
    width: 150%;
    z-index: -1;
    margin-top: 0.313rem;
    rotate: 3deg;
}
.boxForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10.625rem);
    margin-top: 1.563rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 25rem;
    text-align: center;
    background-color: #D9D9D9;
    gap: 1.875rem;
    padding: 2.5rem;
    height: 18.75rem;
    justify-content: start;
    border-radius: 1.25rem;
    box-shadow: 0.938rem 0.938rem #015A76;
}
.formulario p{
    font-weight: bolder;
}
.formulario input{
    height: 2.5rem;
    font-size: 1.25rem;
    width: 100%;
    text-indent: 0.5rem;
}
.goback{
    display: flex;
    text-align: center;
    align-items: center;
}
.texto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
}


.goback a,img{
    height: 2.5rem;
    width: 2.5rem;
}
.formBotones{
    display: flex;
    margin-top: 1.875rem;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    gap: 2rem;
}
.formBotones input{
    border: none;
    background-color: #015A76;
    color: white;
    padding: 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
    height: 100%;
    text-indent: 0rem;
}
.formBotones a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bolder;
    border: none;
    height: 100%;
    width: 90%;
    font-size: 0.65rem;
    background-color: white;
    text-align: center;
}


.formBotones input:active{
    transform: scale(0.95);
}


.boxUser{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;
}
.boxUser img{
    background-color: #015A76;
    width: 3.125rem;
    height: 3.125rem;
}
.boxUser input{
    height: 3.125rem;
    border: none;
}
