*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 1.2vw;
}
.boxNav{
    background-color: rgba(0, 0, 0, 0.658);
    height: 3.125rem; 
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
}
.boxNav a{
    
    display: flex;
    width: 20%;
    justify-content: start;
    text-decoration: none;
    align-items: center;
    color: white;
    height: 100%;
    padding-left: 0.938rem;
}
.rutas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.938rem;
    width: 80%;
    height: 100%;
}
.rutas ul{
    font-size: 0.813rem;
    list-style-type: none;
    height: 100%;
}
.rutas ul li{
    float: left;
    display: flex;
    height: 100%;
}
.rutas ul li a{
    padding-left: 0.313rem;
    padding-right: 0.313rem;
    text-align: center;
    width: auto;
    height: 100%;
}
.rutas ul li a:hover{
    background-color: black;
    transition: .1s;
}

.boxPages{
    display: flex;
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    justify-content: center;
    height: 2.5rem;
    gap: 1.25rem;
}
.boxPages button{
    background-color: #D9D9D9;
    color: #015A76;
    border-style: none;
    width: 2.5rem;
    font-weight: bolder;
    font-size: 1.25rem;
}
#back, #next{
    width: 1.563rem;
}

.boxAlbums{
    background-color: #D9D9D9;
    height: 600px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow:15px 15px 20px -1px rgba(0,0,0,1);
    display: grid;
    align-items: center;
    grid-template-rows: 60px 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
    padding: 15px;
    color: white;
}
.boxAlbumsTitles{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;
    background-color: #550840;
    text-align: center;
    justify-items: center;
    align-content: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 40px;
}

/* .tarjeta{
    margin: 0;
    padding: 0;
    line-height: 2vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3F2305;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4vw;
    border-radius: 10px;
    width: 21vw;
    padding: 20px;
    scroll-behavior: smooth;
} */
.tarjeta{
    line-height: 2vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #550840;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4vw;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    scroll-behavior: smooth;
}
.tarjeta::-webkit-scrollbar{
    display: none;
}
.tarjetaPortada{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 180px 45px 10px auto;
    justify-items: center;
    align-items: center;
}
.tarjetaPortada img{
    width: 150px;
    height: 150px;
    border: solid 12px wheat;
    border-radius: 5%;
    cursor: pointer;
}
.tarjetaPortada h4{
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.tarjetaPortada button{
    padding-bottom: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.tarjetaPortada hr{
    width: 100%;
    color: white;
    border: solid 1px white;
}
.tarjetaDescrip{
    display: flex;
    height: auto;
}

.tarjetaLike{
    background-color: #550840;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    padding: 20px;
    text-align: center;
}
.tarjetaLike hr{
    width: 100%;
}
.tarjetaLike button{
    margin-top: 20px;
}
.albumLinks{
    margin-top: 5px;
    margin-bottom: 5px;
}